# Exclude working files directory
WORKING_FILES/

# Exclude specific files
plan_structure.json
.env

# Optional: Exclude virtual environment directory
.venv/


# Test Files
app_2024-11-10_01-00-02_output.log
plan_structure_2024-11-09_23-24-58.json